{% extends "admin/base_site.html" %}

{% block extrahead %}
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <script>
        $(function() {
          $(".datepicker").datepicker({
              dateFormat: 'dd/mm/yy'
          });
        });
    </script>
{% endblock %}

{% block content %}
  <form action="" method="post">
    {% csrf_token %}
    <p>Note that date is in format "DD/MM/YYYY"</p>
    {{ form.as_p }}
    <!--  Show the list of selected objects on the previous step  -->
    <p>Generate report based on transactions for these items:</p>
    <ul>{{ items|unordered_list }}</ul>

    <input type="hidden" name="action" value="generate_transactions_report" />
    <input type="submit" name="apply" value="Generate Report" />
  </form>
{% endblock %}
